<a href="https://colab.research.google.com/github/DFM210383/Agenda-de-Atividades-Acad-micas/blob/main/Fundamentos%20de%20Python_Loop_For.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Loops no Python** *(Laços de Repetição)*

Agora veremos o Loop FOR

# **LAÇO PARA (LOOP FOR)**

Chamado de “Laço Contador”. Este tipo de laço é empregado melhor em situações em que o programador sabe de antemão a quantidade de voltas que serão executadas.

Neste caso é mais importante contar as "voltas" do loop do que verificar as condições.

In [ ]:
for <contador> in range(<início>, <fim>, <incremento>):
  <Bloco de repetição>

In [ ]:
for i in range(100):
    # do_something()
    pass

In [ ]:
for i in range(10):
   print("O valor de i é atualmente", i)

In [ ]:
# A invocação da função range() pode ser equipada com dois argumentos, não apenas um:

for i in range(2, 8):
    print("O valor de i é atualmente", i)

O valor de i é atualmente 2
O valor de i é atualmente 3
O valor de i é atualmente 4
O valor de i é atualmente 5
O valor de i é atualmente 6
O valor de i é atualmente 7

In [ ]:
# A função range() também pode aceitar três argumentos - dê uma olhada no código no editor.

for i in range(2, 8, 3):
  print("O valor de i é atualmente", i)

O valor de i é atualmente 2
O valor de i é atualmente 5

In [ ]:
# Nota: se o conjunto gerado pela função range() estiver vazio, o loop não executará seu corpo.

for i in range(1, 1):
    print("O valor de i é atualmente", i)

In [ ]:
# Range decrescente

for i in range(20,-1,-1):
  print("O valor de i é atualmente", i)

O valor de i é atualmente 20
O valor de i é atualmente 19
O valor de i é atualmente 18
O valor de i é atualmente 17
O valor de i é atualmente 16
O valor de i é atualmente 15
O valor de i é atualmente 14
O valor de i é atualmente 13
O valor de i é atualmente 12
O valor de i é atualmente 11
O valor de i é atualmente 10
O valor de i é atualmente 9
O valor de i é atualmente 8
O valor de i é atualmente 7
O valor de i é atualmente 6
O valor de i é atualmente 5
O valor de i é atualmente 4
O valor de i é atualmente 3
O valor de i é atualmente 2
O valor de i é atualmente 1
O valor de i é atualmente 0

Faça um programa que calcule as potênicas de 2. O espoente vai variar de 0 a 15

In [ ]:
power = 1
for expo in range(0,16):
  print("2 à potência de", expo, "é", 2**expo)
  #power = power *2

2 à potência de 0 é 1
2 à potência de 1 é 2
2 à potência de 2 é 4
2 à potência de 3 é 8
2 à potência de 4 é 16
2 à potência de 5 é 32
2 à potência de 6 é 64
2 à potência de 7 é 128
2 à potência de 8 é 256
2 à potência de 9 é 512
2 à potência de 10 é 1024
2 à potência de 11 é 2048
2 à potência de 12 é 4096
2 à potência de 13 é 8192
2 à potência de 14 é 16384
2 à potência de 15 é 32768

**Loop FOR com as  instruções break e continue**

In [ ]:
print("The break instrução:")
for i in range(1, 6):
    if i == 3:
        break
    print("Dentro do laço.", i)
print("Fora do loop.")

In [ ]:
print("The continue instrução:")
for i in range(1, 6):
    if i == 3:
        continue
    print("Dentro do laço.", i)
print("Fora do loop.")

In [ ]:
# Strings também são sequências

for caracter in 'Python é uma linguagem de programação divertida!':
    print (caracter)

# **EXERCÍCIOS**

**EXERCÍCIO 1:** Mississipi

A palavra Mississipi, além de nomer um rio nos EUA, também é usada para uma finalidade ligeiramente diferente: contar segundos.

A ideia por trás disso é que adicionar a palavra Mississipi a um número ao contar segundos em voz alta faz com que soem mais perto do relógio e, portanto, "um Mississipi, dois Mississipi, três Mississipi" levará aproximadamente três segundos reais! É frequentemente usado por crianças que brincam de esconde-esconde para garantir que o candidato faça uma contagem honesta

Sua tarefa é muito simples aqui: escreva um programa que use um loop FOR para contar (e imprimir) até cinco . Depois de contar até cinco, o programa deve imprimir na tela a mensagem final "Pronto ou não, aqui vou eu!"

In [ ]:
import time

# Contagem de 1 a 5 com "Mississipi"
for i in range(1, 6):
    # print(i, "Mississipi")
    print(f"{i} Mississipi")
    time.sleep(1)

# Mensagem final
print("Pronto ou não, aqui vou eu!")

1 Mississipi
1 Mississipi
2 Mississipi
2 Mississipi
3 Mississipi
3 Mississipi
4 Mississipi
4 Mississipi
5 Mississipi
5 Mississipi
Pronto ou não, aqui vou eu!

**EXERCÍCIO 2:** Faça um print que mostre os números pares de 0 a 50.

In [ ]:
for cont in range(0,51,2):
  print(cont)

**EXERCÍCIO 3:** Dados 10 números pelo usuário, somá-los e, no final, exibir a somatória.

In [ ]:
soma = 0

print("Digite 10 números")

# Laço configurado para 10 voltas
for i in range(1, 11, 1):
  n = float(input())
  soma = soma + n
print("Somatória = ", soma)

**EXERCÍCIO 4:** Faça um programa para percorrer os números ímpares entre 1 e 500 e mostre quantos são os múltiplos de 3 entre eles e some-os.

In [ ]:
#somas dos impares multiplos 3 entre 1 e 500
#Mostre também quantos foram somados

soma = 0
qtd = 0

for contador in range(1,500,2):
  if contador % 3 == 0:
    qtd += 1
    soma = soma + contador
print("Soma dos {} numeros impares = {}".format(qtd, soma))
print(f"Soma dos {qtd} numeros impares = {soma}")
print("Soma dos",  qtd, "numeros impares = ", soma)

Soma dos 83 numeros impares = 20667

**EXERCÍCIO 5**: TABUADA

Escreva um programa em Python que peça para o usuário escolher a tabuada que ele deseja (de 1 a 10). E imprima a tabuada.

Número informado: 1

Tabuada

1 x 1 = 1

1 x 2 = 2

1 x 3 = 3

1 x 4 = 4

1 x 5 = 5

1 x 6 = 6

1 x 7 = 7

1 x 8 = 8

1 x 9 = 9

1 x 10 = 10

**DESAFIO:** Modifique seu programa inicial para imprimir as 10 tabuadas (de 1 a 10) sem o usuário pedir

In [ ]:
tabuada = int(input("Você quer a tabuada de qual número? "))

for i in range (1,11,1):
    print(f"{tabuada} x {i} = ", tabuada * i)

Você quer a tabuada de qual número? 5
5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
5 x 10 =  50

In [ ]:
#DESAFIO

#tabuada = int(input('Escolha o número da tabuada: '))

for tabuada in range (1,11,1):
    print (f" \nTABUADA DO {tabuada} \n************")
    for i in range (1,11,1):
        print (f"{tabuada} x {i} = {tabuada * i}")

TABUADA DO 1
************
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

TABUADA DO 2
************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

TABUADA DO 3
************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

TABUADA DO 4
************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

TABUADA DO 5
************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

TABUADA DO 6
************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

TABUADA DO 7
************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

TABUADA DO 8
************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

TABUADA DO 9
************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

TABUADA DO 10
************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100